@page "/kartenlegen/tarot-drei-karten-legung"
@using Toolbox.Models.CardReading
@using Toolbox.Resources
@inherits CardReadingPageBase

<PageTitle>@PageTitleText</PageTitle>

<DeckSelectionBar IsLoading="IsLoadingDecks"
                  DeckOptions="DeckOptions"
                  @bind-SelectedDeck="SelectedDeck"
                  ShowSearchButton="true"
                  SearchEnabled="IsSearchEnabled"
                  OnSearchRequested="HandleSearchRequested" />

<h1>@PageHeaderText</h1>

<p>@DisplayTexts.CardReadingContentPlaceholder</p>

<TarotCardTable Spread="SpreadDefinition"
                ShowCards="@HasSelectedDeck"
                SelectedDeckId="@SelectedDeck"
                OnDeckLoadingChanged="HandleDeckLoadingChanged" />

@code {
    protected override string PageTitleText => DisplayTexts.CardReadingThreeCardPageTitle;

    protected override string PageHeaderText => DisplayTexts.CardReadingThreeCardPageHeader;

    protected override TarotSpreadLayout SpreadDefinition => TarotSpreadDefinitions.ThreeCards;
}
